<h4>Singing Classes #1 | How to Start Singing for Beginners | Hindi | 10 Basic Levels</h4>
<p>Hi guys, my name is parth singh.
Main aaj aapka sabase bada confusion solve karne ja raha hoon, jo hai kaha se singing start kare.
As a beginner level singer aapko pata hona chahiye aapki singing kaha se start hona chahiye.
Yeh genuine sawal hai, aur ek bahoot bada confusion hai logo me hota hai.
Aur aapko abhi yeh yeh jawab nahi mil paya hai youtube pe kyonki, har ek singer jo beginner level ka hota hai, woh alag alag level ka hota hai.
Aur alag alag level ke singer ke liye alag alag riyaz bhi hota hai, to abhi tak logo mein singer mein confusion hai ki kaha se start kare.
to is video mein woh confusion door hone wala hai.

<h6>Identify your singing level</h6>

dekhiye 10 level maine divide kar diye hai, to aapko pata karna hai aap kaunse level pe ho, wo aapka kaam hai.
main bataunga kaun kaun se level hote hai, lekin woh banane se pahle main aapko batana chahunga ki aapko jo level hai woh aapko khud identify karna hai.
agar aapko identify nahi ho raha hai, to aap apna voice sample mujhe fb id pe bhej sakte hai. main aapko bataunga aapka ki aap kaunse level hai. waise maine itana simplify kiya hai aap aaram se pata kar loge ki kaha se start karna hai singing aapko. pahle aapko uska level identify karna hai phir aapko pata chal jayega kaha se start karna hai.
<h6>First three levels are music theory: Introduction to music scale, read and write indian music</h6>
to sabase pahle ke 3 level hai, woh theory level aur 4 se level 10 tak practical level hai.
sabse pahla jo level hai aapko knowledge honi chahiye what is musical notes, matlab jo sur kya hai, uska naam kya hota hai, itani to knowledge honi hi chahiye. 
sabse pahle jo 2 level hai woh hai introduction of scales, usake baad 3rd level hai how to write and read music, indian classical music in hindi.
to yeh aapko pata hona chahiye ki kaise padha jata hai indian classical music, jo language hai usi language mein main aapse aage baat karunga. alankar aapko padhana hi nahi aayega to gaaoge kaise to aapko pata hona chahiye alankar kaise padha jata hai.
indian classical musical language woh kaisi hai, uska structure kaisa hai. abhi pahle ke jo 2 level hai, musical notes main already daal chuka hoon, iske baad jo 3rd level hai how to read and write music woh aage daalunga. 
<h6>4th Level: Pitch (Sur) matching</h6>
jo 4th level level hai waha se aapka practical start ho jayega, to 4th level hai pitch matching.
to pitch matching mein kya hota hai, koi bhi gaana aap gaate ho, koi bhi singer jab gaata hai jaise "chaunga main tujhe" to main huuunn gaya pahle. huuuunn kya hai. "sa" pakada maine pahle, yani koi gana baj raha hai. to uski scale pakadana hai, agar woh kar lete ho to aapki pitch matching achchhi hai.
par agar aap nahi kar pate ho, matlab gaana kisi aur scale mein baj raha hai aur aap kisi aur scale mein gaa rahe ho, to usko out of pitch bolate hai.
woh aana sabse jaroori hai. sabse pahle practical step hai woh yeh hai, level mein 4 pe aayega. 
<h6>Level 5: Singing in rhythm (Taal) throughout the song</h6>
phir level 5 mein aayega singing in rhythm through out the song. usake baad aage continue kare. taal mein gana nahi aata hai to bahoot bada issue hai yeh. uska bhi separate lesson aur pitch matching lesson. in sabka main seperate details lesson banaunga aur maximum simplify karne ki koshish karonga.
aur kuch nayi techniques bataunga jo kaam karegi. iske baad jo hai, woh singing melodiously throughout the song, jo 6th level hai. 
poore gaane mein ek bahoot bada issue hai, starting mein kya hota hai, gala besura ho jata hai gaate gaate. 100% melody honi chahiye through out the song, yani kahi bhi sur hilana nahi chahiye. 
yeh sare levels neeche description pe dedunga aap dekh lijiye, riyaz ki link main bhej doonga. aap ek baar us par click karke waha par pahunch sakte hai. iske baad jo hai 
<h6>Feelings, Harkat & Murkiya, Voice Range</h6>
how to feel the song woh main already daal chuka hoon. uske baad aayega harkat, singing with harkat & murkiya. uske baad aayega vocal range,  bottom range and upper range. yani jo neeche ki range hai aur jo upper ki range hai. woh aapko aana chahiye. uske baad vibrato achchha hona chahiye. 10 level vibrato hai 9 level range hai. 8 level how to sing harkat & murkiya in the song, how to feel the song usake baad hai. 6 melodiously gaana aana chahiya, 5 singing in rhythm throughout the song, 4 hai singing with pitch matching.
<h6>Don't jump, progress step by step</h6>
ab main jo bolane ja raha hon, dhyaan se sun lijiye, kisi bhi level pe aap hai, maan lijiye, main melodiously gaa nahi paata hoon, sur hilata hai, aur mujhe kaam karna hai, sur ko intact karne ka, ek baar sur intact hoga, to hi aap aage ke level mein jayege.
maine bahoot sare aise singers dekhe hai jo vocal range pe kaam kar rahe hai aur usko sample mangata hoon to dekhata hoon ki gaane mein sur hi nahi hai. gaane mein sur itana jyada hil raha hai, ki bahoot jyda work karne ki jaroorat hai us par.
</p><p>
9th level pe range ko rakh raha hoon aur 10th level pe vibrato hai, pata nahi kyon log karna chahte hai isko. par sabse pahle neeche ke levels clear kar lijiye.
yeh sab jab clear hoge to hi aap 9th aur 10th pe aayiye. jo bhi level aap identify karoge, poori tarike se aap master nahi jaate aap aage nahi badhoge. kyonki aage nahi badh sakte, jab tak is step ko clear nahi karoge.
jo aap 3rd floor pe jana chahate ho, to step by step chadhoge na. kuch level direct jump karne ke koshish kar rahe hai, matlab vocal range pe kaam kar rahe hai aur jo sur hai woh gaane mein hai hi nahi.
</p><p>
abhi aap bilkul bhi vocal range pe focus nahi kariye agar gana besura ho raha hai aur vibrato laane ki abhi koshish bhi mat kariye aur vocal expression hai, falsetto hai yodelling hai yeh baad ki cheeze hai, aapka pahle foundation to clear karo.
aap ek ghar bana rahe ho, foundation banate ho phir aap paint lagte ho, furniture lagte ho. yeh decorations kaam karta hai range, vibrato sab decoration ka kaam karta hai. pahle aap ghar to banao, foundation to banao, uske baad hi aap yeh sab kaam kariye, aage advance level hai falsseto hai, yodelling hai, vocal expression hai.
yeh sab cheeze advance level ki cheeze hai, us par abhi kaam mat kariye.
<h6>Falsetto, voice range, vocal expressions</h6>
koi falsetto mein gana chah raha hai. chalo main falsetto mein gana bata doon phir aap falsetto ke bhi nahi rahoge aur jo riyaz besura ke liye kar rahe ho, to usake bhi nahi rahoge. main voice sample mangata hoon aur voice sample achchha hai to main bolata hoon you are on the track aur uske baad aap aage ki cheeze hai woh kar sakte hai. lekin log kah rahe hai main falsetto karna chahata hoon par jab voice sample mangata hoon to dekhata hoon melody hi nahi hai, taal hi nahi hai, poora gana besura hai. pahle yeh sab badi badi cheeze hai us par kaam karna chalu kijiye hai, yeh jo additional cheeze hai yeh baad ki cheeze hai.
<h6>Can any body learn singing? Type1 Singer & Type2 Singer</h6>
ek aur important cheez batani hai, yeh ek bahoot bada confusion hai ki har koi singing kar sakta hai. actually mere hisab se koi bhi singing kar sakta hai, main is par believe nahi karta ki koi bhi singing nahi kar sakta hai. lekin ab jo aa raha hai, problem kya hai, 2 tarah ki singer hote hai ek type 1 singer hote hai aur doosare type 2.
type 1 ka jo singer hota hai woh garbh se nikata hai, womb se nikata hai, uska jo vocal structure hota hai, vocal chord ka structure hota hai woh already achchha hota hai. uska gala already 6 level pe hoga. yani melody uske gale mein intact hogi. matlab usko melody pe kaam karna jaroori nahi hai. agar aap 6 level pe ho to aage ki cheeze jaldi jaldi aayegi. matlab harkat ho gaya, range ho gaya, vibrato ho gaya. lekin aap 6 level pe nahi ho. to bahoot problem hota hai. type 1 ke singer 6 level pe hi paida hota hai. matlab bachpan se hi sur mein gaate ha. jaise main type 1 singer hoon. to bachpan mein hi meri mummy bolati thi main twinkle twinkle little star  jiggle gata tha. humesha sur mein gata tha. sur hilata nahi tha mera. uske baad aise singer jo hote hai. unko bola jata hai. aapki upar ishwar ki kripa hai. god has blessed you with singing skill. matlab aap singing karne ke liye paida hue ho.
<h6>Type 2 Singer need more motivation & patience</h6>
leking yeh galat hai ki baki ke jo log bache hai, jo type 2 mein aate hai woh singing nahi kar sakte hai. aisa galat hai, type 2 singer hai bachpan se uske gale mein melody intact nahi hoti hai. to gale mein melody lana unka pahla goal hona chahiye. log kya kar rahe hai vocal range ki taraf bhaag rahe hai, falsetto ki taraf bhaag rahe hai. type 2 singer humesha bahoot jyada time leta hai kyonki use bahoot jyada motivation ki jaroorat hoti hai, patience ki jaroorat hoti hai. agar aapke andar interest, passion hai to aap kar loge. kyonki usko time bahoot lagta hai.
jo type 2 level singer hota hai woh track mein nahi hota hai. ek baar level 6 pe aa gaya to uski gaadi track par hai. matlab melody throughout the song aa jaye. par usko track mein lane mein bahoot jyada mehnat ki jaroorat padti hai. type 1 singer ko time kam lagta hai. par type 2 singer ko gaane mein melody laane mein bahoot time lagta hai. kyonki unko ek ek note pe kaam karna hota hai. 
</p><p>
to mera jo focus rahega woh focus is par hi rahega ki main maximum focus type 2 singers ko track pe la saku. main koshish karoonga ki aisi technique la saku jisase aap aage badh sako aur melody la sako apne gale mein. jo yeh baat aapko clear ho gayi hogi, jo type 1 singer hota hai woh birth se hi melody lekar aata hai aur type 2 singer ke paas birth se melody nahi hoti hai ya phir 60% ya 40% melody hoti hai. to type 2 singer ko percentage badhana hai melody ka.
iske alawa bhi ko problem hai to mujhse poonch sakte hai. iske alwa main free skype singing classes start karne ja raha hon. 
Thank you nice day. keep learning.
</p>