<!DOCTYPE html>
<html>
    <head>

        <!-- /.website title -->
        <title>eRiyaz - Subscription</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- CSS Files -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">


        <!-- Colors -->
        <link href="css/css-index-green.css" rel="stylesheet" media="screen">
        <!-- <link href="css/css-index-green.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-purple.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-red.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-orange.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-yellow.css" rel="stylesheet" media="screen"> -->
		<style>
			.price-heading {
				color: #7cb854;
			}
		</style>
        <!-- Google Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />

    </head>

    <body>

        <!-- /.preloader -->
        <div id="preloader"></div>
        <div id="top"></div>

        <!-- /.parallax full screen background image -->
        <div class="fullscreen landing parallax" style="background-image:url('images/bg1.jpg');" data-img-width="1000" data-img-height="400" data-diff="100">

            <div class="overlay">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center">

                        <!-- /.logo -->
                        <div class="logo wow fadeInDown" style="margin-top: 50px"> <a href="">eRiyaz</a><p>Learn to Sing 10x Faster</p></div>

                        <!-- /.main title -->
                        

                    </div>
                </div> 
            </div> 
        </div>
		
                <!-- /.pricing section -->
        <div id="package">
            <div class="container">
                <div class="text-center">

                    <!-- /.pricing title -->
                    <h2 class="wow fadeInLeft">SUBSCRIPTIONS</h2>
					<h5>(10-day money back guarantee for all subscriptions)</h5>
                    <div class="title-line wow fadeInRight"></div>
                </div>
                <div class="row package-option">

                    <!-- /.package 1 -->
                    <div class="col-sm-4">
                        <div class="price-box wow fadeInUp">
                            <div class="price-heading text-center">

                                <!-- /.package icon -->
                                <!-- /.package name -->
                                <h2>Quarterly</h2>
                            </div>

                            <!-- /.price -->
                            <div class="price-group text-center">
                                <span class=""><strong>Rs 499</strong></span>
                                <span class="time"><strong>/mo</strong></span>
                            </div>

                            <!-- /.package features -->
                            <ul class="price-feature text-center">
                                <li>Rs 1497 for every 3 months</li>      
                            </ul>

                            <!-- /.package button -->
                            <div class="price-footer text-center">
                                <a class="btn btn-price" href="https://app.eriyaz.com/signup/payment.html?tab=tab1">Start Now</a>
                            </div>  
                        </div>
                    </div>

                    <!-- /.package 2 -->
                    <div class="col-sm-4">
                        <div class="price-box wow fadeInUp" data-wow-delay="0.2s">
                            <div class="price-heading text-center">

                                <!-- /.package icon -->

                                <!-- /.package name -->
                                <h2>Half Yearly</h2>
                            </div>

                            <!-- /.price -->
                            <div class="price-group text-center">
                                <span class=""><strong>Rs 349</strong></span>
                                <span class="time"><strong>/mo</strong></span>
                            </div>

                            <!-- /.package features -->
                            <ul class="price-feature text-center">
                                <li>Rs 2094 for every 6 months</li>         
                            </ul>

                            <!-- /.package button -->
                            <div class="price-footer text-center">
                                <a class="btn btn-price" href="https://app.eriyaz.com/signup/payment.html?tab=tab2">Start Now</a>
                            </div>
                        </div>
                    </div>  

                    <!-- /.package 3 -->
                    <div class="col-sm-4">
                        <div class="price-box wow fadeInUp" data-wow-delay="0.4s">
                            <div class="price-heading text-center">

                                <!-- /.package icon -->
                                <!-- /.package name -->
                                <h2>Yearly</h2>
                            </div>

                            <!-- /.price -->
                            <div class="price-group text-center">
                                <span class=""><strong>Rs 199</strong></span>
                                <span class="time"><strong>/mo</strong></span>
                            </div>

                            <!-- /.package features -->
                            <ul class="price-feature text-center">
                                <li>Rs 2388 for every 12 months</li>                 
                            </ul>

                            <!-- /.package button -->
                            <div class="price-footer text-center">
                                <a class="btn btn-price" href="https://app.eriyaz.com/signup/payment.html?tab=tab3">Start Now</a>
                            </div>  
                        </div>
                    </div>

                </div>
            </div>
        </div>

		<div id="feature">
            <div class="container">
				<div class="text-center">
					<h2 class="wow fadeInLeft">Frequently Asked Questions</h2>
					<div class="title-line wow fadeInRight"></div>
				</div>
                <div class="row">

                    <!-- /.feature content -->
                    <div class="col-md-6 wow fadeInLeft">
                        <h6>What happens after I make payment?</h6>
                        <p>After you make payment you will be taken to the account creation page where you will register for the apps. Once you have created your account, you will get an email on which exercises to get started and you can then start practicing on the apps. We will track your progress and send you further notes on what to do next.</p>
						<h6>What if there is some problem before or after payment?</h6>
						<p>If there is any problem with the payment please shoot us an email at eriyazonline@gmail.com or call at 809809809. Also you can reach any of us directly our profiles.
						<br>Ashwin Jain: https://www.facebook.com/ashwin.jain
						<br>Vikas Patel: https://www.facebook.com/vikas.patel.3304
						<br>Ankita Singh: https://www.facebook.com/ankita.singh.5872
						</p>
						<h6>How much can I learn from just an App?</h6>
						<p>It is not just an app but we have made many apps to carefully cover every aspect of singing. Offcourse there will also be some other non-app based exercises that will not require you to be on the system. Also you are encouraged to send your recordings from time to time for review and we will give feedback on your recordings. In addition you will have monthly 4 flexibly scheduled sessions with our qualified vocal teacher to clear up any doubts you have about singing.</p>						
                    </div>

                    <!-- /.feature image -->
                    <div class="col-md-6 wow fadeInRight">
						<h6>Why is there no free trial?</h6>
						<p>Learning to sing  or learning anything requires some level of commitment and discipline. In our testing we have found that some investment is required for most people to be disciplined. But to ensure your safety, we offer a no question asked full money back guarentee to be executed within 10 days of purchase. So you do not really have to worry about anything!</p>
						<h6>How long will it take for me to become a good singer?</h6>
						<p>There cannot be one answer for everyone as it depends on a lot of factors. What we can guarantee is that no matter where you come from, you will see a significant improvement if you practice regularly for 6 months. Regular practice is very important!</p>
						<h6>Can everyone learn singing?</h6>
						<p>Yes! Often people are worried about their voice quality and if it is appropriate for singing. With proper exercises and musical training, you will greatly improve your tone and speech quality and bust the myth that learning to sing requires some inborn gift.</p>						
                    </div>				  
                </div>			  
            </div>
        </div>
        <!-- /.javascript files -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
    </body>
</html>