<!DOCTYPE html>
<html>
    <head>

        <!-- /.website title -->
        <title>eRiyaz - Subscription</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- CSS Files -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">


        <!-- Colors -->
        <link href="css/css-index-green.css" rel="stylesheet" media="screen">
        <!-- <link href="css/css-index-green.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-purple.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-red.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-orange.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-yellow.css" rel="stylesheet" media="screen"> -->

        <!-- Google Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />

    </head>

    <body>

        <!-- /.preloader -->
        <div id="preloader"></div>
        <div id="top"></div>

        <!-- /.parallax full screen background image -->
        <div class="fullscreen landing parallax" style="background-image:url('images/bg1.jpg');" data-img-width="1000" data-img-height="400" data-diff="100">

            <div class="overlay">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center">

                        <!-- /.logo -->
                        <div class="logo wow fadeInDown" style="margin-top: 50px"> <a href="">eRiyaz</a><p>Learn to Sing 10x Faster</p></div>

                        <!-- /.main title -->
                        

                    </div>
                </div> 
            </div> 
        </div>
		
                <!-- /.pricing section -->
        <div id="package">
            <div class="container">
                <div class="text-center">

                    <!-- /.pricing title -->
                    <h2 class="wow fadeInLeft">SUBSCRIPTIONS</h2>
					<h5>(all prices in Indian Rupees)</h5>
                    <div class="title-line wow fadeInRight"></div>
                </div>
                <div class="row package-option">

                    <!-- /.package 1 -->
                    <div class="col-sm-4">
                        <div class="price-box wow fadeInUp">
                            <div class="price-heading text-center">

                                <!-- /.package icon -->
                                <!-- /.package name -->
                                <h3>Quarterly</h3>
                            </div>

                            <!-- /.price -->
                            <div class="price-group text-center">
                                <span class="dollar"><i class="fa fa-inr"></i></span>
                                <span class="price">499</span>
                                <span class="time">/mo</span>
                            </div>

                            <!-- /.package features -->
                            <ul class="price-feature text-center">
                                <li><i class="fa fa-inr"></i><strong>1497</strong> for every 3 months</li>      
                            </ul>

                            <!-- /.package button -->
                            <div class="price-footer text-center">
                                <a class="btn btn-price" href="https://app.eriyaz.com/signup">Sign Up</a>
                            </div>  
                        </div>
                    </div>

                    <!-- /.package 2 -->
                    <div class="col-sm-4">
                        <div class="price-box wow fadeInUp" data-wow-delay="0.2s">
                            <div class="price-heading text-center">

                                <!-- /.package icon -->

                                <!-- /.package name -->
                                <h3>Half Yearly</h3>
                            </div>

                            <!-- /.price -->
                            <div class="price-group text-center">
                                <span class="dollar"><i class="fa fa-inr"></i></span>
                                <span class="price">349</span>
                                <span class="time">/mo</span>
                            </div>

                            <!-- /.package features -->
                            <ul class="price-feature text-center">
                                <li><i class="fa fa-inr"></i><strong>2094</strong> for every 6 months</li>         
                            </ul>

                            <!-- /.package button -->
                            <div class="price-footer text-center">
                                <a class="btn btn-price" href="https://app.eriyaz.com/signup">Sign Up</a>
                            </div>
                        </div>
                    </div>  

                    <!-- /.package 3 -->
                    <div class="col-sm-4">
                        <div class="price-box wow fadeInUp" data-wow-delay="0.4s">
                            <div class="price-heading text-center">

                                <!-- /.package icon -->
                                <!-- /.package name -->
                                <h3>Yearly</h3>
                            </div>

                            <!-- /.price -->
                            <div class="price-group text-center">
                                <span class="dollar"><i class="fa fa-inr"></i></span>
                                <span class="price">199</span>
                                <span class="time">/mo</span>
                            </div>

                            <!-- /.package features -->
                            <ul class="price-feature text-center">
                                <li><i class="fa fa-inr"></i><strong>2388</strong> for every 12 months</li>                 
                            </ul>

                            <!-- /.package button -->
                            <div class="price-footer text-center">
                                <a class="btn btn-price" href="https://app.eriyaz.com/signup">Sign Up</a>
                            </div>  
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- /.javascript files -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
    </body>
</html>