<!DOCTYPE html>
<html>
    <head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-KLQPLM4');</script>
		<!-- End Google Tag Manager -->
        <!-- /.website title -->
        <title>eRiyaz - Learn to Sing 10x Faster</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		
        <!-- CSS Files -->
		<link href="/css/icomoon.css" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
        <link href="/css/animate.css" rel="stylesheet" media="screen">
        <link href="/css/owl.theme.css" rel="stylesheet">
        <link href="/css/owl.carousel.css" rel="stylesheet">
        <!-- Colors -->
        <link href="/css/css-index-green.css" rel="stylesheet" media="screen">
        <!-- <link href="css/css-index-green.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-purple.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-red.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-orange.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-yellow.css" rel="stylesheet" media="screen"> -->
		<style>
			.nav>li {
				display: inline-block;
			}
		
			.scroll-header {
				height:0px;
				width:100%;
				position:relative;
			}
			
			.scroll {
				position:absolute;
				z-index:1;
				right:0%;
				top:-5em;
				color:#fff;
			}
			
			.text-nowrap {
				white-space: nowrap;
			}
			
			#feature {
				padding-bottom: 50px;
			}
			
			#register-form .error {
				color:white;
			}
			
			.subscribe-form {
				max-width: none;
				margin: 0px;
			}
			
			.subscribe-form .form-control {
				background-color: #f6f6f6;
			}
			
			.signup-header h3 {
			    padding: 30px 0 20px;
			    color: white;
			    font-weight: 400;
			}

			.signup-header {
				padding-bottom: 30px;
			}
		</style>
        <!-- Google Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />
    </head>

    <body data-spy="scroll" data-target="#navbar-scroll">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLQPLM4"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
        <!-- /.preloader -->
        <div id="preloader"></div>
        <div id="top"></div>
        <!-- /.parallax full screen background image -->
        <div class="fullscreen landing parallax" style="background-image:url('/images/bg2.jpg');" data-img-width="2000" data-img-height="1000" data-diff="100">
            <div class="overlay">
                <div class="container">
					<div class="row">
						<div class="navbar-header navbar-brand">
							<a class="site-name" href="#top">eRiyaz</a>
							<p style="font-size: 14px;">Learn to Sing 10x Faster</p>
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-8">

                            <div class="video-header">
                                <div class="video-embed wow fadeIn" data-wow-duration="1s">
                                    <%- include(video) %>
                                </div>
                            </div>

                        </div> 
						<!-- /register -->
							<div class="col-md-4 wow slideInRight">
								<div class="signup-header video-header wow fadeInUp">
									<h3 class="form-title text-center">Register for your FREE first class</h3>
									<form class="form-header" action="" role="form" id="register-form">
										<div class="form-group">
											<input class="form-control input-lg" name="name" id="name" type="text" placeholder="Your name">
										</div>
										<div class="form-group">
											<input class="form-control input-lg" name="email" id="email" type="email" placeholder="Email address">
										</div>
										<div class="form-group">
											<input class="form-control input-lg" name="phone" id="phone" type="text" placeholder="Mobile number">
										</div>
										<div class="form-group last">
											<input id="submit" type="submit" class="btn btn-warning btn-block btn-lg" value="Register">
										</div>
										<p id="message" class="message text-center"></p>
									</form>
								</div>
							</div>
                    </div>
					<!--div class="scroll-header">
						<span class="scroll text-nowrap text-center">scroll for more...<br><i class="fa fa-long-arrow-down"></i></span>
					</div-->
                </div> 
            </div> 
        </div>
        <!-- /.intro section -->
        <div id="intro">
            <div class="container">
                <div class="row">
                    <!-- /.intro content -->
                    <div class="col-md-8 wow slideInRight">
                        <h2>How Singing Works</h2>
                        <p>Ever wondered what is the secret sauce behind sounding magical? Well here it is .. REVEALED!</p>
                        <div class="btn-section"><a id="start-singing" href="subscription.html" class="btn-default">Start Now</a></div>
                    </div>
                </div>			  
            </div>
        </div>


		<div class="modal fade" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title highlight" id="modal-title">Register for your FREE first class</h4>
			  </div>
			  <div class="modal-body">
					<form class="form-header" action="" role="form" id="register-form2">
						<div class="form-group">
							<input class="form-control input-lg" name="name2" id="name2" type="text" placeholder="Your name">
						</div>
						<div class="form-group">
							<input class="form-control input-lg" name="email2" id="email2" type="email" placeholder="Email address">
						</div>
						<div class="form-group">
							<input class="form-control input-lg" name="phone2" id="phone2" type="text" placeholder="Mobile number">
						</div>
						<div class="form-group last">
							<input id="submit2" type="submit" class="btn btn-warning btn-block btn-lg" value="Register">
						</div>
						<p id="message2" class="message text-center"></p>
					</form>
			  </div>
			</div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
        <!-- /.javascript files -->
        <script src="/js/jquery.js"></script>
		<script src="/js/jquery.validate.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script>
			new WOW().init();
			var shown = false;
			$('a[href$="subscription.html"]').click(function(e){
				// scroll slowly
				// $('body, html').animate({scrollTop:0}, 2000);
				$('.modal').modal();
				return false;
			});
			
			$(document).ready(function () {
			$('#register-form').validate({ // initialize the plugin
		        rules: {
		        	name: {
		                required: true
		            },
		            email: {
		                required: true,
		                email: true
		            },
		            phone: {
		                required: true,
		                minlength: 10,
		                maxlength: 10
		            }
		        },
		        messages: {
                    name: "Please enter your name",
                    email: "Please enter a valid email address",
                    phone: "Please enter 10 digits number."
                },
		       submitHandler: function (form) {
					var dataJson = {'entry.1769033687': $("input#name").val(),
                    	'entry.109852712': $("input#email").val(),
                    	'entry.1154736723':$("input#phone").val()};	  
		            $.ajax({
					    type: "POST",
					    url: "/register",
					    data: dataJson,
					    success: function(data) {
					    	$('#message').html(data.info);
					    	$('#register-form').trigger("reset");
					    	ga('send', 'event', 'lead', 'register');
					    },
					    error: function() {
					    	$('#message').html("Something wrong: Please contact +91 9623443789 or eriyazonline@gmail.com for registration.");
					   }
					  });
		            return false; // for demo
		        }
		    });

		    $('#register-form2').validate({ // initialize the plugin
		        rules: {
		        	name2: {
		                required: true
		            },
		            email2: {
		                required: true,
		                email: true
		            },
		            phone2: {
		                required: true,
		                minlength: 10,
		                maxlength: 10
		            }
		        },
		        messages: {
                    name2: "Please enter your name",
                    email2: "Please enter a valid email address",
                    phone2: "Please enter 10 digits number."
                },
		       submitHandler: function (form) {
		       		var dataJson = {'entry.1769033687': $("input#name2").val(),
                    	'entry.109852712': $("input#email2").val(),
                    	'entry.1154736723':$("input#phone2").val()};	  
		            $.ajax({
					    type: "POST",
					    url: "/register",
					    data: dataJson,
					    success: function(data) {
					    	$('#message2').html(data.info);
					    	$('#register-form2').trigger("reset");
					    	ga('send', 'event', 'lead', 'register');
					    },
					    error: function() {
					    	$('#message2').html("Something wrong: Please contact +91 9623443789 or eriyazonline@gmail.com for registration.");
					   }
					  });
		            return false; // for demo
		        }
		    });
		});

		$(window).scroll(function() {
			   if($(window).scrollTop() + $(window).height() > $(document).height()*9/10) {
					if (!shown) {
						// $('#modal-body-text').show();
						$('.modal').modal();
						shown = true;
					}
			   }
			});
        </script>
    </body>
</html>